
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*//////////////////////////////////////////////////////////////*/
/*/////////////////        nav bar       //////////////////////*/
/*//////////////////////////////////////////////////////////*/


#nav-img {
  height: 9.7vw;
  width: 9.7vw;
  float: left;
  background-color: #F5005B;
	display: inline-block;
	padding: 1vw;
}

.nav-row {
display: inline-flex;
}

nav {
	background-color: #7DDFE8;
}


.size {
	height: 1.9vw;
	width: 10vw;
}

nav li {
  text-align: center;
  color: white;
  text-decoration: none;
	padding: 4.9vw 1vw;
	margin: 0;

}

li a {
  text-decoration: none;
  font-size: 2vw;
  color: white;
	font-family: "PT Sans";
}

.clickable {
	padding: 4.5vw 0vw;
	padding-right: 1vw;
	/*border: 1px solid green;*/
	margin-top: -5vw;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-cal {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7
}



/*//////////////////////////////////////////////////////////////*/
/*/////////////////        CUSTOMER DATA      //////////////////////*/
/*//////////////////////////////////////////////////////////*/


h2 {
	font-family: "PT sans";
	font-size: 4vw;
	padding: 4vw;
	color: #0B1942;
}

.customer-secrets {
	display: grid;
	grid-template-columns: 35% 30% 30%;
	margin-left: 4vw;
}

.profile {
	width: 25%;
}

.pro-pic {
	border-radius: 25vw;
	width: 30vw;
	margin-left: 3vw;
	margin-top: 2vw;
}

.customer {
	/*border: 2px solid blue;*/
}

.info {
	/*border: 2px solid green;*/
}

.info label {
	font-family: "PT sans";
	font-size: 2vw;
}

.info input {
	width: 90%;
	height: 3vw;
	margin-right: 2vw;
	border: .1vw solid rgba(127, 132, 135, .3);
}


/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*///////////////    INTERESTED     //////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/



.radio {
	display: flex;
	flex-wrap: nowrap;
	margin: 2vw;
}

.form {
	width: 33%;
	margin-top: 6vw;
}

.extra-pad {
	padding-top: 0vw;
}

.form input {
	margin: .75vw;
	font-family: "PT sans";
}

h4, textarea {
	margin-left: 3vw;
}

button {
	margin:2.8vw;
	padding: 2vw 2.5vw;
	font-family: "PT sans";
	font-size: 1.5vw;
	background-color: #F5005B;
	border: none;
	color: white;
}


/*/////////////////////////////////////////////////////////*/
/*/////////////      bottom nav          /////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/

.footer-row {
  display: inline-flex;
	background-color: #7DDFE8;
	width: 100%;
}

footer li{
  text-align: center;
  color: white;
  text-decoration: none;
	/*display: inline-block;*/
	padding-top: 3vw;
	padding-left: 3vw;
	padding-right: 3vw;
}

footer  {
  width: 100%;
}

.copy {
	color: white;
	font-family: "PT sans";
	font-size: 2vw;
	margin-left: 40vw;
	padding-top: 5.5vw;
	padding-right: 2vw;
}


footer .clickable {
	padding: 4.5vw 0vw;
	padding-right: 1vw;
	/*border: 1px solid green;*/
	margin-top: -2vw;
}




/*/////////////////////////////////////////*/

@media screen and (max-width: 544px) {



	/*/////////////////////////////////*//*/////////////////////////////////*/
	/*/////////////////////////////////*/
	/*//   header max 544px    ////////*/
	/*/////////////////////////////////*/
	/*/////////////////////////////////*//*/////////////////////////////////*/

	.nav-row {
		display: block;
		flex-direction: row;
		flex-wrap: wrap;
		height: 20.7vw;
	}

	#nav-img {
	  height: 20.9vw;
	  width: 20.7vw;
	  float: left;
	  background-color: #F5005B;
		display: inline-block;
		padding: 2.5vw;
	}

	nav li {
		width: 100%;
		text-align: center;
		color: white;
		text-decoration: none;
		margin: 0;

	}

.size {
padding: 3.4vw 0vw;
width: 100%;
}

nav {
background-color: #7DDFE8;

}


/*//////////////////////////////////////////////////////////////*/
/*/////////////////        CUSTOMER DATA      //////////////////////*/
/*//////////////////////////////////////////////////////////*/

h2 {
	font-family: "PT sans";
	font-size: 6vw;
	padding: 6vw;
	padding-top: 12vw;
	color: #0B1942;
}

.customer-secrets {
	display: grid;
	grid-template-columns: 90%;
	margin-left: 4vw;
}

.info label {
	font-family: "PT sans";
	font-size: 3vw;
	margin-left: 4vw;
}

.info input {
	width: 90%;
	height: 6vw;
	margin-left: 4vw;
	border: .1vw solid rgba(127, 132, 135, .3);
}

.pro-pic {
	border-radius: 50vw;
	width: 75vw;
	margin: 4vw;
}

.radio {
	display: block;
	margin-left: 5vw;
}

.form {
	width: 90%;
	margin: 0vw;
	/*border: 1px solid green;*/
}

.form input {
	margin: 2vw;
	font-family: "PT sans";
}

textarea {
	width: 90%;
}

legend {
	font-family: "PT sans";
	font-size: 3vw;
	margin-top: 3vw;
}

button {
	margin: 10vw 5vw;
	padding: 4vw 4.5vw;
	font-family: "PT sans";
	font-size: 3.8vw;
	background-color: #F5005B;
	border: none;
	color: white;
}

/*//////////////////////////////////////////////////////////////*/
/*/////////////////       footer           //////////////////////*/
/*//////////////////////////////////////////////////////////*/

.footer-row {
  display: inline-flex;
  flex-direction: row;
	flex-wrap: wrap;
	background-color: #7DDFE8;
	width: 100%;
	/*max-height: 21vw;*/
}

footer li{
  text-align: center;
	font-family: "PT sans";
  color: white;
  text-decoration: none;
	width: 100%;
	padding: .5vw 3.9vw;
}

 li a {
	font-size: 4vw;
}

.copy,h4 {
	color: white;
	font-family: "PT sans";
	font-size: 4vw;
	margin-top: 0vw;
	padding: 4vw;
	margin-left: 12vw;
}
}
@media screen and (max-width: 768px) {
}
